################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WalmartHomework/.vs/WalmartHomework/v15
/WalmartHomework/.vs/config/applicationhost.config
