<div class="row margin-top-10">
  <div class="col-sm-12">
    <a href="http://www.walmart.com">walmart.com</a>
  </div>
</div>
<div *ngIf="!showLoader" class="row margin-top-90">
  <div class="col-sm-12" style="text-align: center">
    <img src="../../assets/images/walmart_logo.png" />
  </div>
</div>
<div *ngIf="!showLoader" class="row margin-top-40">
  <div class="col-md-4 col-sm-12 col-xs-12 center">
    <form #searchForm="ngForm" (ngSubmit)="search(searchForm)" autocomplete="off" novalidate="novalidate">
      <div class="input-group">
        <input type="text" [(ngModel)]="query" id="query" name="query" class="form-control" placeholder="Search for..." />
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit" [disabled]="query == ''">Go!</button>
        </span>
      </div>
    </form>
  </div>
</div>

<div class="row margin-top-40">
  <results-list *ngIf="results && results.length > 0" [results]="results"></results-list>
  <div class="col-sm-12" *ngIf="errorMessage && errorMessage !== ''">
    <p>{{errorMessage}}</p>
  </div>
</div>

<div *ngIf="showLoader" class="row center margin-top-100">
  <div class="col-sm-8 col-offset-3">
    <img src="../../assets/images/walmart-loader.gif" title="Loading..." />
  </div>
</div>
